@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Joan&family=Tiro+Gurmukhi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap");
:root {
  --purple: #814096;
  --pink: #f83292;
  --gradient: linear-gradient(90deg, var(--purple), var(--pink));
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::selection {
  background: var(--pink);
  color: #fff;
}
/*                                   Header styling                     */
.header-div {
  /* box-shadow: 10px 30px 144px 20px rgba(203, 172, 207, 0.79); */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: var(--purple);
  margin-left: 5%;
  font-family: "Poppins", sans-serif;
}
.logo span {
  color: var(--pink);
}
header {
  position: fixed;
  background-color: #fff;
  width: 100%;
}
header::after {
  width: 100%;
  content: "";
  height: 60px;
}
.header-div,
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}
.header-div ul li a {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.3em;
  color: var(--purple);
  font-family: "Tiro Gurmukhi", serif;
}
.header-div ul li a:hover {
  color: var(--pink);
}

/*                                   Showcase styling                     */
.showcase {
  background-image: url(img/home-bg-img.png);
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto;
  grid-column-gap: 2px;
  width: 100%;
  font-family: "Tiro Gurmukhi", serif;
}
.container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  align-items: flex-start;
  margin: 5% 10%;
  line-height: 1.5;
  text-align: left;
}

.container-1 h1 {
  font-family: "Joan", serif;
  color: #2a2929;
  font-size: 4em;
}

.container-1 span {
  color: var(--pink);
}
.container-1 p {
  color: #2a2929;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  border-radius: 5rem;
  border: none;
  background: var(--gradient);
  font-size: 1.7rem;
  color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.btn:hover {
  cursor: pointer;
  transition: all 0.1s linear;
}
.container-2 img {
  width: 80%;
  height: 100vh;
  margin: 5%;
}
/*                                   Features Styling                    */
.main-container {
  overflow: hidden;
}
.h2-title {
  color: var(--purple);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  margin: 7% 0 0;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 2px;
  width: 100%;
  margin: 5% 5%;
}
.card {
  border: 1px solid #d5caca;
  border-radius: 5px;
  /* box-shadow: -7px 28px 152px 3px rgba(209, 184, 184, 0.57); */
  box-shadow: -7px 28px 169px -15px rgba(209, 184, 184, 0.57);
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  padding: 3%;
  text-align: center;
}

.card img {
  width: fit-content;
  overflow: hidden;
  margin: 10px auto;
}

.card .title {
  color: #2a2929;
  font-family: "Poppins", sans-serif;
  margin: 5px;
}

.card p {
  font-family: "Tiro Gurmukhi", serif;
  color: #989393;
}

.read {
  background: var(--gradient);
  color: #fff;
  border: none;
  border-radius: 5em;
  width: 50%;
  padding: 3% 2%;
  margin: 3% auto 1%;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}
.read:hover {
  cursor: pointer;
  transition: all 0.1s linear;
}

/*                                   About styling                     */
.about-grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto;
  grid-column-gap: 2px;
  width: 100%;
}
.col-1 {
  background-image: url(img/about-bg.png);
}
.col-1 img {
  width: 70%;
  height: 100vh;
  margin: 5%;
}

.col-2 {
  border: 2px solid black;
  margin: 30% 5% 0;
}
.col-2 h3 {
  color: #989393;
  font-size: 2em;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  margin: 5px;
}
