@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Joan&family=Tiro+Gurmukhi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap");
:root {
  --purple: #814096;
  --pink: #f83292;
  --gradient: linear-gradient(90deg, var(--purple), var(--pink));
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::selection {
  background: var(--pink);
  color: #fff;
}
/* Header styling */
.header-div {
  box-shadow: 10px 30px 144px 20px rgba(203, 172, 207, 0.79);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: var(--purple);
  margin-left: 5%;
  font-family: "Poppins", sans-serif;
}
.logo span {
  color: var(--pink);
}

.header-div,
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}
.header-div ul li a {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.3em;
  color: var(--purple);
  font-family: "Tiro Gurmukhi", serif;
}
.header-div ul li a:hover {
  color: var(--pink);
}

/* Showcase styling */
.showcase {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto;
  grid-column-gap: 2px;
  width: 100%;
  font-family: "Tiro Gurmukhi", serif;
}
.container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 10%;
  line-height: 1.5;
  text-align: center;
}

.container-1 h1 {
  font-family: "Joan", serif;
  color: #2a2929;
  font-size: 4em;
}

.container-1 span {
  color: var(--pink);
}
.container-1 p {
  color: #2a2929;
  line-height: 1.5;
}

.container-1 button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  border-radius: 5rem;
  border: none;
  background: var(--gradient);
  font-size: 1.7rem;
  color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
button:hover {
  cursor: pointer;
  transition: all 0.1s linear;
}
.container-2 img {
  width: 80%;
  height: 100vh;
  margin: 5%;
}
/* Features section */
